.main__container{
    background-color: $colorBgMain;
    width: 100%;
}

.img__product{
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 28px;
}

.img__product_detail{
    width: 400px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

