.footer__container{
    background-color: $colorBgNavBar;
}
.redes{
    svg{
        width: 2rem;
    }
}
.newsletter{
    input{
    background-color: $colorBgNavBar;
    border-bottom: 1px solid $colorVerdePrincipal;
    }
    
}